{% extends 'base.html.twig' %}

{% block title %}Warenkorb
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-5 flex flex-col min-h-screen">
		<h2 class="text-center text-3xl font-bold mb-6">Warenkorb</h2>
		{% if cartItems|length > 0 %}
			<div class="bg-white p-6 rounded-lg shadow-md">
				<table class="min-w-full bg-white border border-gray-300">
					<thead>
						<tr class="border-b border-gray-300 bg-gray-100">
							<th class="py-2 text-center">Produkt</th>
							<th class="py-2 text-center">Preis</th>
							<th class="py-2 text-center">Menge</th>
							<th class="py-2 text-center">Gesamt</th>
							<th class="py-2 text-center">Aktionen</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cartItems %}
							<tr class="border-b border-gray-300 {% if loop.index is odd %}bg-gray-50{% else %}bg-white{% endif %}">
								<td class="py-2 flex items-center justify-center">
									<img src="{{ asset('uploads/images/products/' ~ item.product.image) }}" alt="{{ item.product.name }}" class="w-16 h-16 object-cover rounded-md mr-4">
									<span>{{ item.product.name }}</span>
								</td>
								<td class="py-2 text-center">{{ item.product.price|number_format(2, ',', '.') }}
									€</td>
								<td class="py-2 text-center">
									<form action="{{ path('cart_update', {'productId': item.product.id}) }}" method="post" class="flex items-center justify-center">
										<input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="w-16 text-center border border-gray-300 rounded-md mr-2">
										<button type="submit" class="bg-blue-500 text-white py-1 px-2 rounded-md hover:bg-blue-600">Aktualisieren</button>
									</form>
								</td>
								<td class="py-2 text-center">{{ (item.product.price * item.quantity)|number_format(2, ',', '.') }}
									€</td>
								<td class="py-2 text-center">
									<form action="{{ path('cart_remove', {'productId': item.product.id}) }}" method="post">
										<button type="submit" class="bg-red-500 text-white py-1 px-2 rounded-md hover:bg-red-600">Entfernen</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="mt-6 flex flex-col items-end">
					<p class="text-lg font-bold mb-4">Gesamtsumme:
						{{ total|number_format(2, ',', '.') }}
						€</p>
					<a href="{{ path('order_place') }}" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 transition duration-300 ease-in-out transform hover:scale-105">Zur Kasse</a>
				</div>
			</div>
		{% else %}
			<p class="text-center text-lg">Ihr Warenkorb ist leer.</p>
		{% endif %}
	</div>
{% endblock %}
