{% extends 'base.html.twig' %}

{% block title %}Warenkorb
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<h1 class="text-center">Dein Einkaufswagen</h1>
			{% if cart|length > 0 %}
				<table class="table">
					<thead>
						<tr>
							<th>Produkt</th>
							<th>Preis</th>
							<th>Menge</th>
							<th>Gesamt</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cart %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.price|number_format(2, ',', '.') }}€</td>
								<td>{{ item.quantity }}</td>
								<td>{{ (item.price * item.quantity)|number_format(2, ',', '.') }}€</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="text-end">
					<h3>Gesamtsumme:
						{{ total|number_format(2, ',', '.') }}€</h3>
					<a class="btn btn-primary" href="#">Zur Kasse</a>
				</div>
			{% else %}
				<p class="text-center">Dein Warenkorb ist leer.</p>
			{% endif %}
		</div>
	</section>
{% endblock %}
