{# templates/security/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Registrieren
{% endblock %}

{% block body %}
	<div class="container mt-5 d-flex flex-column min-vh-100">
		<h2 class="text-center">Registrieren</h2>
		<div class="row justify-content-center flex-grow-1">
			<div class="col-md-8">
				{{ form_start(registrationForm) }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<br>
							{{ form_label(registrationForm.firstName, 'Vorname') }}
							{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(registrationForm.firstName) }}
						</div>

						<div class="form-group mt-3">
							{{ form_label(registrationForm.lastName, 'Nachname') }}
							{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(registrationForm.lastName) }}
						</div>

						<div class="form-group mt-3">
							{{ form_label(registrationForm.email, 'E-Mail') }}
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(registrationForm.email) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mt-3">
							{{ form_label(registrationForm.plainPassword, 'Passwort') }}
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(registrationForm.plainPassword) }}
						</div>

						<div class="form-group mt-3">
							{{ form_label(registrationForm.agreeTerms, 'AGB akzeptieren') }}
							{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
							{{ form_errors(registrationForm.agreeTerms) }}
						</div>
					</div>
				</div>
				<div class="form-group mt-3">
					<button type="submit" class="btn btn-primary">Registrieren</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
